.git
.github
.gitignore
.DS_Store
__pycache__/
*.pyc
venv/
README.md
LICENSE
requirements.txt
requirements-data.txt
scripts/
tests/
api/analytics.py
api/utils.py
frontend/node_modules
frontend/.svelte-kit
frontend/build
